.navbar {
    background-color: #bfeac6;
  }
  .navbar .navbar-brand {
    color: #000000;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar .navbar-text {
    color: #000000;
  }
  .navbar .navbar-text a {
    color: #ffffff;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ffffff; 
  }
  .navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #5d9158;
  }
  .navbar .navbar-toggle {
    border-color: #5d9158;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #5d9158;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #000000;
  }
  .navbar .navbar-link {
    color: #000000;
  }
  .navbar .navbar-link:hover {
    color: #ffffff;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #5d9158;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #5d9158;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #5d9158;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #5d9158;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #5d9158;
  }

.carousel-caption{
    top: 30%;
}

.slider-title{
    font-size: 80px;
}

.slider-text{
    font-size: 30px;
}

.outer-div{
    height: 350px;
    overflow: hidden;
}

.inner-div1{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(https://res.cloudinary.com/oluwabamise/image/upload/v1602866385/Village%20Bucthery/pexels-freestocksorg-69170.jpg);
}

.inner-div1:hover{
    transform: scale(1.2);
}

.inner-div2{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(https://res.cloudinary.com/oluwabamise/image/upload/v1602866400/Village%20Bucthery/pexels-kinkate-634487.jpg);
}

.inner-div2:hover{
    transform: scale(1.2);
}

.inner-div3{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(https://res.cloudinary.com/oluwabamise/image/upload/v1602866442/Village%20Bucthery/bianca-ackermann--B9mIrO1uEE-unsplash.jpg);
}

.inner-div3:hover{
    transform: scale(1.2);
}

.inner-div4{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(https://res.cloudinary.com/oluwabamise/image/upload/v1602866436/Village%20Bucthery/zdenek-machacek-_9bRrDyOQTQ-unsplash.jpg);
}

.inner-div4:hover{
    transform: scale(1.2);
}

.zoom-box-text{
    text-align: center;
    line-height: 300px;
    color: #fff;
}

footer ul{
    list-style-type: none; 
    display: inline;
}
